.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap:10px;

}

.container div img{
    border-radius: 5%;
}

.container div:nth-child(2) {
    grid-column: span 2;
}

.container div:nth-child(3) {
    grid-column: span 2;
}

.container div:nth-child(4) {
    grid-row: span 2;
}